.main-title{
    color: #3c8000;
    padding-bottom: 20px;
}

.recipes {
}

.recipes .item{
    width: 50%;
    clear:both;
    margin-bottom: 5px;
}

.recipes .item > a{
    display: inline-block;
    width: 100%;
    height: auto;
    text-decoration: none;
    color: black;
}

.recipes .item > a:hover{
    background: #f5ecec;
}
.recipes .item .name, .recipes .item .number{
    display: inline-block;
    color: #c07119;
}

.recipes .item .name{
    float: left;
    width: 50%;
    font-weight: bold ;
}
.recipes .item .number{
    float: right;
    width: calc(50% - 10px);
    text-align: right;
    padding-right: 10px;
}

.star{
    color: #701414;
    font-size: 20px;
    margin-right: 10px;
}

.circle{
    background: #f3ae6c;
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 5px;
}

@media screen and (max-width: 1000px){
    .recipes .item{
        width: 100%;
    }
    .recipes .item .name{
        width: auto;
    }
    .recipes .item .number{
        width: auto;
    }
}